fastapi==0.141.1
uvicorn==0.52.3
requests==2.34.2
python-dotenv==1.2.3
supabase==2.31.0
scikit-learn==1.9.0
konlpy==0.6.0
jpype1==1.7.1
beautifulsoup4==4.15.0
pandas==3.0.5
openpyxl==3.1.5
openai==3.3.0
